* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

.page-header h1 {
    padding-top: 60px;
}

.content h2 {
    line-height: 1.2;
    padding-bottom: 20px;
    position: relative;
}

.content h2::after {
    background-color: #ddd;
    border-radius: 2px;
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 95%;
}

.angle {
    margin-top: 0;
    min-height: 60px;
}

.angle::after {
    bottom: -1px;
    content: '';
    height: 80px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-position: center bottom, center top;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%225%200%20395%2042%22%3E%3Cpolygon%20fill%3D%22%23f4f4f4%22%20points%3D%22400%2050%20400%200%200%2042%200%2050%22%2F%3E%3C%2Fsvg%3E"),url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%2042%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22grad1%22%20x1%3D%220%25%22%20y1%3D%2220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20style%3D%22stop-color%3Argb(0%2C0%2C0)%3Bstop-opacity%3A0%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20style%3D%22stop-color%3Argb(0%2C0%2C0)%3Bstop-opacity%3A0.04%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpolygon%20fill%3D%22url(%23grad1)%22%20points%3D%220%200%20400%2042%20400%200%22%2F%3E%3C%2Fsvg%3E");
}

.content {
    padding-left: 40px;
    padding-right: 40px;
}

.content p {
    margin-bottom: 10px;
}

.ms-Grid-col {
    padding: 0 !important;
}